@model IEnumerable<Holara.Models.Friends>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@if (ViewBag.messege != null)
{
    <div class="container" id="notification">
        <div class="panel-footer">
            <h5 class="notify">@ViewBag.messege</h5>
        </div>
    </div>
}



<div class="container">
    <h4>Friend Requests (@Model.Count())</h4>
    <div class="panel-footer">
        <table id="table_id">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td><img src="@user.ApplicationUser1.Image" class="profile-pic zoom" style="width:35px !important;height:35px !important;margin-top:5px !important" /></td>
                        <td><span title="See Profile"><a asp-action="UserDetail" asp-route-id="@user.ApplicationUser1.Id" style="cursor:pointer !important; text-decoration:none !important;">@Html.DisplayFor(m => user.ApplicationUser1.Name)</a></span></td>
                        <td>@Html.DisplayFor(m => user.ApplicationUser1.Email)</td>
                        @if (user.ApplicationUser1.PhoneNumber == null)
                        {
                            <td>No Phone Number Added yet..</td>
                        }
                        else
                        {
                            <td>@Html.DisplayFor(m => user.ApplicationUser1.PhoneNumber)</td>
                        }
                        @if (user.IsConfirmed)
                        {
                            <td><p class="button">Friends</p></td>
                        }
                        else
                        {
                            <td><a asp-action="AcceptRequest" asp-route-id="@user.Id" class="button button-warning" style="color:#262424 !important;">Accept Request</a></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section scripts {
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable();
        });
        $("#notification").show();
        setTimeout(function () { $("#notification").hide(); }, 3000);
    </script>
}
